extends ..\layout

block append head
  link(rel='stylesheet' type='text/css' href='/stylesheets/views/notes/edit.css')

block content
  h1 Edit Note
  if noteToRender
    form(action='/notes/update/#{noteToRender.id}', method='post')
        textarea.note-body(name='body', class='note-body', rows='5', cols='50') #{noteToRender.body}
        input.submit(type='submit', value='Save')