extends ..\layout

block append head

block content
  if noteToRender
      p Id: #{noteToRender.id}
      p Created on #{noteToRender.createdAt}
      hr
      p #{noteToRender.body}
      hr
      form(action='/notes/delete/#{noteToRender.id}', method='post')
        input(type='submit', value='Delete')