extends layout
  
block append head
  link(rel="stylesheet" type="text/css" href="/stylesheets/views/home.css")

block content
  section.about
    h1 Node/Mongo App Template
    h2 A simple notes app with basic CRUD functions
    a(href='/notes/new') Create New Note